@font-face {
    font-family: 'ZZZ';
    src: url('en-us.ttf') format('truetype');
}
html {
    height: 100%;
}

body {
    bottom: 0px;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'ZZZ', sans-serif;
    color: white;
    color-scheme: dark;
    background:
    linear-gradient(0deg, rgba(45, 83, 87, 0.75), rgba(45, 83, 87, 1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: 128px;
}

.header-section {
    padding: 120px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 4px 8px);
    background:
    linear-gradient(0deg, rgba(212, 123, 75, 0.75), rgba(212, 123, 75, 1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 128px;
}

.jagged-border {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    width: 100%;
    height: 40px;
  }
}

.title-card {
    text-align: center;
    padding: 20px 0 40 00px;
    border-radius: 0 0 10px 10px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 4px 8px);
    background:
    linear-gradient(0deg, rgba(212, 209, 196, 0.75), rgba(212, 209, 196, 1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 128px;
}

.title-card:before {
    background:
      linear-gradient(
        45deg, transparent 33.333%,
        #d4d1c4 33.333%, #d4d1c4 66.667%,
        transparent 66.667%
      ),
      linear-gradient(
        -45deg, transparent 33.333%,
        #d4d1c4 33.333%, #d4d1c4 66.667%,
        transparent 66.667%
      );
    background-size: 40px 80px;
}

.title-card h1 {
    font-size: 64px;
    color: #705a49;
    margin: 20px 0 0 0;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 32px);
}

.dropdown-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.dropdown {
    font-weight: 800;
    background-color: #705a49;
    color: white;
    font-size: 24px;
    border: 0;
    border-radius: 2px;
    padding: 10px 20px;
}

.results-section {
    padding: 40px 20px;
}

.placeholder-text {
    text-align: center;
    font-size: 24px;
    color: #eadab9;
}

.item-card {
    display: grid;
    grid-template-columns: 256px auto;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto 25px auto;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 4px 8px);
}

.item-image-container {
    grid-row: span 2;
    place-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: #262934;
    border: 8px solid white;
    z-index: 0;
}

.item-image {
    width: 128px;
    height: auto;
}
.item-name-container {
    align-self: end;
    min-width: 1024px;
    margin-left: -256px;
    padding-left: 256px;
    border-bottom: 1px dashed rgb(234, 218, 185);
    border-radius: 10px 10px 0 0;
    background:
    linear-gradient(0deg, rgba(99, 172, 148, 0.75), rgba(99, 172, 148, 1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 128px;
}

.item-name {
    font-size: 36px;
    margin: 10px;
    margin-right: 32px;
}

.item-zone-container {
    align-self: start;
    min-width: 1024px;
    margin-left: -256px;
    padding-left: 256px;
    min-height: 96px;
    border-radius: 0 0 64px 10px;
    border-top: 1px dashed rgb(99, 172, 148);
    background:
    linear-gradient(0deg, rgba(234, 218, 185, 0.75), rgba(234, 218, 185, 1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 128px;
}

.item-zone {
    font-size: 42px;
    color: #705a49;
    margin: 10px;
    margin-right: 32px;
}